<!-- <h1>Demo angular</h1>
<app-data-binging></app-data-binging> -->

<!-- <app-navbar></app-navbar>
<app-post [fromParent]="parentMessage" (messageEvent)="receiveMessage($event)" (event1)="receiveMessage1($event)"></app-post>
<p>{{fromChildOutput}}</p>
<p>{{fromChildOutput1}}</p>


<h3>In the app component : {{ parentMessage }}</h3> -->

<!--string interpolation-->
<!-- <h3 [class.text-red]="bool">{{message}}</h3>
<p [style.color] = "bool ? 'red' : 'blue' ">The expression is {{1+2}}</p> -->

<!-- property binding -->
<!-- <img [src]="myimgUrl" alt="random_img"> -->

<!--Event binding-->
<!-- <button (click)="buttonClick()">click me</button> -->

<!--Event Filtering-->
<!-- <input type="text" (keyup)="onKeyUp($event)" placeholder="Press Enter">    By using traditional way -->
<!-- <input type="text" (keyup.enter)="onKeyUp(username)" placeholder="Press Enter" #username> -->
<!-- <input type="text" (keyup.enter)="onKeyUp(username.value)" placeholder="Press Enter" #username> -->
<!-- <input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyUp()"> -->
<!-- <br> -->
<!-- one way data binding -->
<!-- <input type="text" [value]="textValue" (keyup.enter)="onKeyUp()"> -->
<!-- <br> -->
<!-- two way data binding -->
 <!-- <input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyUp()"> -->
---------------------------------------------------

<h1>Post Form</h1>
<input type="text" placeholder="post title"><br>
<textarea name="" id="" placeholder="post Details"></textarea><br>
<img src="" alt="random_img"> <br>
<link rel="stylesheet" href=""><br>
<input type="checkbox">Add Background